{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": false,
  "quoteProps": "consistent",
  "proseWrap": "always",
  "endOfLine": "lf"
}
